#moreTextPresentacion {display: none;}

nav{
    display: flex;
    width: 100%;
    align-items: center;
    background-color: black;
}

h3{
    margin: 3px;
}

.links{
    display: flex;
    flex-grow: 1;
    flex-shrink: 2;
    flex-basis: 0;
    font-size: 2em;
    color: #ffd400;
    flex-grow: 1; 
    align-items: center; 
    margin-right: auto; 
}

.links ul {
    display: flex; 
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.links ul li {
    margin-right: 20px; 
}

.descCarrito {
    display: none; /* Oculta la descripción y el botón por defecto */
  }
  
.mostrar {
    display: flex; /* Muestra la descripción y el botón cuando la clase "mostrar" está presente */
 }