/*
    -------------
    Navbar inicio
    -------------
*/
#moreTextPresentacion {display: none;}
.header {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 10px 20px;
}

.header nav {
    flex-grow: 1;
    color: #ffd400;
}

nav{
    display: flex;
    width: 100%;
    align-items: center;
    background-color: black;
}

.links{
    display: flex;
    flex-grow: 1;
    flex-shrink: 2;
    flex-basis: 0;
    font-size: 2em;
    color: #ffd400;
    flex-grow: 1; 
    align-items: center; 
    margin-right: auto; 
}

.links ul {
    display: flex; 
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.links ul li {
    margin-right: 20px; 
}

/*
    ------------
    Navbar Final
    ------------
*/

/*----------------------*/

/*
    --------------
    Carrito Inicio
    --------------
*/
.resumenPago{
    max-width: 400px;

}

.itemsCarrito {
    flex: 1;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    padding: 20px;
    margin-right: 20px;
    max-width: 643px;
    height: 100%;
}

.resumen {
    flex: 1;
    background-color: #000000;
    border-radius: 10px;
    padding: 20px;
    margin-right: 20px;
    max-width: 400px;
    color: white;
}

.pago {
    flex: 1;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    padding: 20px;
}
.carrito {
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    padding: 20px;
    margin-right: 20px;
    width: 300px; /* Ajusta el ancho del carrito según sea necesario */
}

.main {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    color:white;
}

.resumen,
.pago {
    flex: 1;
    background-color: #000000;
    border-radius: 10px;
    padding: 20px;
    margin-right: 20px;
    color:rgb(255, 162, 0);
}

.imagenpago{
    width: 350px;
}

#total{
    background-color: white;
}

.botonComprar{
    padding: 10px 20px; 
    background-color: rgb(255, 162, 0); 
    color: black; 
    border: black; 
    border-radius: 5px; 

}
/*
    --------------
    Carrito Final
    --------------
*/
/*----------------------*/
/*
    -------------------
    Landing Page Inicio
    -------------------
*/
#listaItemsEntrada,
#listaItemsPlatosPrincipales,
#listaItemsBebidas,
#listaItemsPostres {
    display: none;
}


/*Imagenes*/

.imagenesEntradas{
    max-height: 108px;
    aspect-ratio: 144 / 108;
    object-fit: cover;
}
.presentacion{
    border-radius: 5px 5px 5px 5px;
    font-family: sans-serif;
    color:#000;
    background-color: #ffd400;
}
.decripcionPresentacion{
    padding: 10px;
    margin: 0;
}
body{
    background-color: white;

}
#btnReadMorePresentacion{
    margin: 5px;
    border: 0;
    background-color: transparent;
    font-style: italic;
    color: #000;
    opacity: 0.8;
}

#listaItemsEntrada li{
    display: flex;  
}

.entradas{
    margin-bottom: 1px;
    background-color:#ffcc99;
    border-radius: 5px 5px 5px 5px;
}
.platosPrincipales{
    margin-bottom: 1px;
    background-color:#98fb98;
    border-radius: 5px 5px 5px 5px;
}
.bebidas{
    margin-bottom: 1px;
    background-color:#b0e0e6;
    border-radius: 5px 5px 5px 5px;
}
.postres{
    margin-bottom: 1px;
    background-color:#ffc0cb;
    border-radius: 5px 5px 5px 5px;
}

.menu ul li:first-child {
    padding-top: 10px; /* Ajusta el valor según sea necesario */
  }
  
  ul li:last-child {
    padding-bottom: 10px; /* Ajusta el valor según sea necesario */
  }


h3{
    margin: 3px;
}

.mostrarDescripcionItem{
    border: none;
    background-color: transparent;
    color: #000;
    font-family: sans-serif;
    font-weight: bold;
}

ul, ol {
    list-style-type: none;
    display: block;
}

.descCarrito {
    /* Oculta la descripción y el botón por defecto */
    margin-left: 20px;
  }
  
.mostrar {
    display: block; /* Muestra la descripción y el botón cuando la clase "mostrar" está presente */
 }

 #footer{
    width: 100%;
    /*background-color: rgb(41, 41, 41);*/
    color: #ffd400;
    padding: 0;
    margin: 0;
 }
 

/*
    ------------------
    Landing Page Final
    ------------------
*/
